parameters:
    tips:
        treatPhpDocTypesAsCertain: true
    level: 6
    cache:
        nodesByStringCountMax: 0
    parallel:
        maximumNumberOfProcesses: 8
    paths:
        - ../src/
    ignoreErrors:
        - '#Unused .*::__construct#'
        - '#Unused App\\.*::get.*#'
        - '#Unused App\\.*::set.*#'
        - '#Unused App\\Entity\\.*::is.*#'
        - '#Unused App\\Entity\\.*::add.*#'
        - '#Unused App\\Entity\\.*::remove.*#'

